body {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
body>div::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
section {
  display: block;
  float: left;
  margin: 0.5em;
  padding: 0.5em;
  border: solid 4px #ddd;
}
section h2:first-child {
  margin-top: 0;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #777;
}
section table, section ul {
  border-collapse: collapse;
  margin: auto;
}
section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section li button {
  display: block;
  margin: 0.5em auto;
  width: 4em;
}
section li button.stop {
  color: red;
}
section li button.target {
    border-color: yellow;
}
tr {
  border: solid 1px black;
}
tr>* {
  padding: 6px;
  text-align: center;
}
th {
  font-family: monospace;
}
th.active {
  background-color: red;
}
td:nth-child(2) {
  font-size: 150%;
  opacity: 0.6;
}
button[disabled] {
  text-decoration: line-through;
}

td.red { color: red; }
td.green { color: green; }
