<!doctype html>
<html ng-app="elevator">
  <head>
    <link rel="stylesheet" type="text/css" href="css/elevator.css">
    <script src="js/angular.min.js"></script>
    <script src="js/elevator.js" charset="UTF-8"></script>
  </head>
  <body ng-controller="ElevatorCtrl">
    <section>
      <h2>Floor schematics</h2>
      <table>
        <tr ng-repeat="floor in floors">
          <th scope="row" ng-class="car.active(floor.n) &amp;&amp; 'active'">
            <span ng-show="car.active(floor.n)" ng-bind="car.state()"></span>
          </th>
          <td>{{floor.title}}</td>
          <td ng-class="floor.light">&#x25cf;</td>
          <td>
            <button type="button" ng-click="collectACall(floor.n)">Call</button>
            <button type="button" ng-disabled="!car.canOpen(floor.n)" ng-click="openFloorDoor(floor.n)">{{!floor.open ? 'Open': 'Closing'}} door</button>
          </td>
        </tr>
      </table>
    </section>

    <section>
      <h2>Controls in car</h2>
      <ul>
        <li ng-repeat="floor in floors">
            <button type="button" ng-class="panel.btnClass(floor.n)" ng-disabled="!car.occupied || !panel.pressAble(floor.n)" ng-click="panel.press(floor.n)" ng-class="panel.btnClass(floor.n)">{{floor.title}}</button>
        </li>
        <li>
          <button class="stop" type="button" ng-disabled="!car.occupied || car.dir==0" ng-click="panel.stop()">STOP</button>
        </li>
      </ul>
    </section>

    <section>
      <h2>User controls</h2>
        <span>Car door is {{car.open ? 'Open' : 'Closed'}}</span><br>
      <button type="button" ng-click="car.carDoorToggle()" ng-disabled="!car.occupied && !floors[car.floor].open">Manual car door</button>
      <button type="button" ng-click="car.stepIn()" ng-disabled="car.dir!=0 || car.occupied || !floors[car.floor].open || !car.open">Step in</button>
      <button type="button" ng-click="car.stepOut()" ng-disabled="car.dir!=0 || !car.occupied || !floors[car.floor].open || !car.open">Step out</button>
      <!--  <button type="button" ng-click="car.stepIn()" ng-disabled="car.occupied">Step in</button>
        <button type="button" ng-click="car.stepOut()" ng-disabled="!car.occupied">Step out</button>-->
    </section>

    <section>
        <h2>Monitors</h2>
        <ul>
            <li ng-repeat="call in calls">
                <span>{{floors[call].title}}</span>
            </li>
        </ul>
    </section>
  </body>
</html>
